<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861130410537-6u7nem0beekotaqat7b4g9v3v01v5nud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861130410537-6u7nem0beekotaqat7b4g9v3v01v5nud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>861130410537-ms812pdt6k6rmp8ij7juel1jua4jvnpv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Yro8A2ToHnckSuiJQk7_OD1vq1VxwcY</string>
	<key>GCM_SENDER_ID</key>
	<string>861130410537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prueba-login</string>
	<key>PROJECT_ID</key>
	<string>proyectoreactnative-ila-jma</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoreactnative-ila-jma.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861130410537:ios:a07bb124e3fa528cccea38</string>
	<key>DATABASE_URL</key>
	<string>https://proyectoreactnative-ila-jma-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>